@inherits LayoutComponentBase

<body>
    <header>
        <div class="header-container">
            <h1>Word Cominer!</h1>
            <h3>複合連結型発想法を手軽におこなうためのアプリケーション</h3>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">ホーム</a></li>
                <li><a href="index.html">使い方</a></li>
                <li><a href="index.html">サインイン</a></li>
                <li><a href="access.html">サインアップ</a></li>
                <li><a href="contact.html">問い合わせ</a></li>
                <li><a href="contact.html">言語</a></li>
            </ul>
        </nav>
    </header>
    <main>
        @Body
    </main>
</body>
